/* Variables */
:root {
  --accent: hsl(283, 16%, 25%); /*Purple Taupe*/
  --border: hsl(285, 21%, 35%); /*Imperial*/
  --dark: hsl(140, 2%, 28%); /*Outer Space*/
  --light: hsl(225, 14%, 60%); /*Gray-Blue*/
  --disabled: hsl(0, 0%, 69%); /*Silver Chalice*/
  --primary: hsl(336, 13%, 16%); /*Raisin Black*/
  --primary-bg: rgba(210, 219, 226, 0.575);
  --secondary: hsl(225, 14%, 60%); /*Gray-Blue*/
  --secondary-bg: rgba(220, 124, 124, 0.8); /*Gray-Blue*/
  --font: rgba(0, 0, 0, 0.65);
  --secondary-font: rgb(220, 124, 124);
}
/* END Variables */

/* Setup */
html {
  color: var(--dark);
  height: 100%;
}

body {
  font-family: 'Raleway', 'sans-serif';
  margin: 0;
  height: 100%;
  background: url(/assets/imgs/background.png)
}

#app {
  height: 100%;
  background-color: var(--primary-bg);
}

a {
  color: var(--secondary-font);
}

/* END Setup */

/* Helpers */
.divider {
  border-bottom: 1px solid var(--accent);
}
/* END Helpers */

/* Define Grid */
.wrapper {
  min-height: 100%;
  display: grid;
  font-size: 14px;
  grid-template-areas: 'header header'
                       'main main'
                       'foot foot';
  grid-template-rows: 64px 1fr auto;
  grid-template-columns: 10% 90%;
}

header {
  grid-area: header;
  width: 100%;
  background-color: var(--primary-bg);
}

main {
  grid-area: main;
  padding: 0 2rem;
  height: 100%;
  border-top: 1px solid var(--accent);
}

footer {
  grid-area: foot;
  padding: 0.5rem 1rem;
  text-align: center;
}
/* END Define Grid */

/* Nav Styles */
.nav {
  line-height: 60px;
  overflow: auto;
  background-color: var(--secondary-bg);
}

.nav__logo {
  display: inline;
  text-decoration: none;
  vertical-align: middle;
}

.nav__title {
  display: inline;
  margin: 0;
  font-size: 24px;
  padding: 0 1rem;
}

.nav__text {
  font-size: 0.5rem;
  font-weight: normal;
}

.nav__list {
  display: inline;
  padding: 0;
  list-style: none;
}

.nav__item {
  display: inline;
}

.nav__link {
  color: var(--dark);
  padding: 0.7rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  transition: all 0.5s ease;
}

.nav__link:hover {
  background-color: var(--primary-bg)
}
/* END Nav Styles */

/* Transitions */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate {
  animation-duration: 0.6s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.animate--enter {
  animation-name: fadeIn;
}

.animate--exit {
  animation-name: fadeOut;
}
/* END Transitions */

/* Media Queries */
@media (max-width: 40rem) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-areas: 'header' 'main' 'foot';
  }

  header {
    position: inherit;
    width: auto;
    height: auto;
  }
}
/* END Media Queries */
