/* Variables */
:root {
  --accent: hsl(283, 16%, 25%); /*Purple Taupe*/
  --border: hsl(285, 21%, 35%); /*Imperial*/
  --dark: hsl(140, 2%, 28%); /*Outer Space*/
  --light: hsl(225, 14%, 60%); /*Gray-Blue*/
  --disabled: hsl(0, 0%, 69%); /*Silver Chalice*/
  --primary: hsl(336, 13%, 16%); /*Raisin Black*/
  --primary-bg: hsla(129, 10%, 74%, 0.801); /*Ash Gray*/
  --secondary: hsl(225, 14%, 60%); /*Gray-Blue*/
  --secondary-bg: hsla(225, 14%, 60%, 0.801); /*Gray-Blue*/
}
/* END Variables */

/* Setup */
html {
  height: 100%;
  color: var(--dark);
}

body {
  font-family: 'Raleway', 'sans-serif';
  margin: 0;
  height: 100%;
  background: url(/assets/imgs/background.png)
}

#app {
  height: 100%;
}
/* END Setup */

/* Helpers */
.divider {
  border-bottom: 1px solid var(--accent);
}
/* END Helpers */

/* Define Grid */
.wrapper {
  height: 100%;
  display: grid;
  font-size: 14px;
  grid-template-areas: 'header header'
                       'main main'
                       'foot foot';
  grid-template-rows: 64px 1fr auto;
  grid-template-columns: 10% 90%;
}

header {
  grid-area: header;
  width: 100%;
  background-color: var(--primary-bg);
}

main {
  grid-area: main;
  padding: 0 2rem;
  height: 100%;
  border-top: 1px solid var(--accent);
  background-color: var(--primary-bg);
}

footer {
  grid-area: foot;
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--accent);
  background-color: var(--secondary-bg);
}
/* END Define Grid */

/* Nav Styles */
.nav {
  line-height: 60px;
  overflow: auto;
  background-color: var(--secondary-bg);
}

.nav__logo {
  display: inline;
  text-decoration: none;
  vertical-align: middle;
}

.nav__title {
  display: inline;
  margin: 0;
  font-size: 24px;
  padding: 0 1rem;
}

.nav__text {
  font-size: 0.5rem;
  font-weight: normal;
}

.nav__list {
  display: inline;
  padding: 0;
  list-style: none;
}

.nav__item {
  display: inline;
}

.nav__link {
  color: var(--dark);
  padding: 0.7rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  transition: all 0.5s ease;
}

.nav__link:hover {
  background-color: var(--primary-bg)
}
/* END Nav Styles */

/* Media Queries */
@media (max-width: 40rem) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-areas: 'header' 'main' 'foot';
  }

  header {
    position: inherit;
    width: auto;
    height: auto;
  }
}
/* END Media Queries */
